[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
beautifulsoup4 = "*"
flask = "*"
ipykernel = "*"
matplotlib = "*"
numpy = "*"
keras = "*"
opencv-contrib-python = "*"
openpyxl = "*"
pandas = "*"
pyqt5 = "*"
python-docx = "*"
scipy = "*"
scikit-learn = "*"
sympy = "*"
tensorflow = "*"
vtk = "*"

[dev-packages]

[requires]
python_version = "3.7"
